body
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    margin: 0;
}
.header
{
    width: 100%;
    height: 10%;
    position: relative;
    background-color: #0F0F0F;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
}
.header_left
{
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_middle
{
    color: #787878;
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header_right
{
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container
{
    background-color: #0F0F0F;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: inherit;
    position: relative;
    flex-direction: row;
    top: 0;
    left: 0;
}
.settings
{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
}
.select_menu
{
    color: #787878;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0px 20px 20px 20px;
    align-items: center;
    width: auto;
    height: auto; 
}
ul
{
    list-style-type: none;
    align-items: center;
    padding: 0;
}
ul > li
{
    margin: 0px 20px 20px 20px;
    color: #787878;
    white-space: nowrap;
}
.game
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    position: relative;
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    z-index: 999;
}
.scoreboard
{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
}
.footer
{
    width: 100%;
    height: 10%;
    position: relative;
    background-color: #0F0F0F;
    display: flex;
    flex-direction: row;
}
.footer_left
{
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_middle
{
    color: #787878;
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer_right
{
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#play
{
    position: absolute;
    border-radius: 20px;
    background-color: #0F0F0F;
    border: none;
    color: #787878;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#hide
{
    position: absolute;
    border-radius: 20px;
    background-color: #0F0F0F;
    border: none;
    color: #787878;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 55%;;
}
button:focus
{
    outline: none!important;
}
.circle
{
    background-image: url(../imgs/circle.png);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    opacity: 0;
    font-size: 50px;
    text-align: center;
    color: #191919;
    vertical-align: middle;
}
.linia
{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition:  opacity 0.3s ease-in-out;
}
p
{
    color: #787878;
}
input[type="text"]
{
    background-color: #191919;
    color: #787878;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-left: 5px;
}
input[type="text"]:focus
{
    outline: none!important;
}
select
{
    background: #191919;
    color: #787878;  
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
select option
{
    background: #191919;
    color: #787878; 
}
select:focus
{
    outline: none!important;
}
.hp
{
    width: 100%;
    height: 100%;
    background-color: #3CB371;
    vertical-align: middle;
    text-align: center;
    transition: width 1s ease-in-out;
}
.hp_number
{
    position: absolute;
    top: 50%;
    height: 50%;
    margin: -5px 0 0 -5px;
    color: white;
}
.hide
{
    transition: width 1s ease-in-out;
    overflow-x: hidden;
}
.expand
{
    transition: width 1s ease-in-out;
}
.hidejs
{
    width: 0%;
}
.expandjs
{
    width: 100%;
}
@media only screen and (max-width: 1000px) 
{
    .hide
    {
        width: 0%;
    }
    .expand
    {
        width: 100%;
    }
    #hide
    {
        visibility: hidden;
    }
    .linia
    {
        visibility: hidden;
    }
}
